<div class="container-fluid">
    <table class="table table-striped">
        <thead>
        <tr>
            <th scope="col">Time</th>
            <th scope="col">Event</th>
        </tr>
        </thead>
        <tbody>
        {% for log in task.log_set.all %}
            <tr>
                <td>{{ log.time|date:"Y-m-d H:i" }}</td>
                <td>{{ log.get_event_display }}</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>
</div>