<form action="" method="post">
    {% csrf_token %}
    <tr>
        <td>{{ repeat.index }}</td>
        <td>{{ repeat.get_rep_type_display  }}</td>
        {% if repeat.rep_type != "D" %}
        <td>
            <input type="hidden" name="index" value="{{ repeat.index }}">
            <input type="number" min="0" max="100" name="status" value="{{ repeat.task.status }}">
            <select name="result">
                {% if repeat.task.result == "N" %}
                <option selected value="N">Not finished yet</option>
                {% else %}
                <option value="N">Not finished yet</option>
                {% endif %}
                {% if repeat.task.result == "S" %}
                <option selected value="S">Success</option>
                {% else %}
                <option value="S">Success</option>
                {% endif %}
                {% if repeat.task.result == "F" %}
                <option selected value="F">Failed</option>
                {% else %}
                <option value="F">Failed</option>
                {% endif %}
            </select>
            <input type="submit" name="repeat_save" value="save" class="btn btn-outline-primary">
        </td>
        {% else %}
        {% endif %}
    </tr>
</form>