<div class="container-fluid">
    {% if task.repeat_of %}
        <div class="row">
            <label>{{ task.repeat_of.rule_human_readable }}</label>
        </div>
        <div class="row">
            <table class="table table-striped">
                <thead>
                <tr>
                    <th scope="col">Index</th>
                    <th scope="col">Type</th>
                    <th scope="col"></th>
                </tr>
                </thead>
                <tbody>
                {% for repeat in task.repeat_of.taskrepeatconnection_set.all %}
                    {% if repeat.index <= repeat.repeat.current_index %}
                        {% include 'Remember/details/repeat_form.html' %}
                    {% elif repeat.rep_type != "N" %}
                        {% include 'Remember/details/repeat_form.html' %}
                    {% endif %}
                {% endfor %}
                </tbody>
            </table>
        </div>
    {% else %}
        <label>Is not repeatable yet</label>
    {% endif %}
</div>