<div class="container bg-light border rounded my-1">
    {% load static %}
    <div class="row">
        <div class="col">
            <label style="font-size:20px">{{ record.text }}</label>
            <hr>
            <label style="font-size:12px">at {{ record.datetime|date:"Y-m-d H:i" }}</label>
        </div>
        <div class="col-2">
            <div class="container-fluid">
                <form action="{% url 'Remember:dashboard' %}" method="post">
                    {% csrf_token %}
                    <input type="hidden" name="record_id" value="{{ record.id }}">
                    <div class="btn-group-vertical" style="width: 100%;">
                        <input class="btn btn-outline-primary my-2" type="submit" name="record_delete" value="Ok">
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>

