{% extends "Remember/base.html" %}

{% block content %}

<div class="container-fluid my-5">
    <div class="row">
        <div class="col offset-3">
            {% if form.errors %}
                <p>Your username and password didn't match. Please try again.</p>
            {% endif %}

            {% if next %}
                {% if user.is_authenticated %}
                <p>Your account doesn't have access to this page. To proceed,
                please login with an account that has access.</p>
                {% else %}
                <p>Please login to see this page.</p>
                {% endif %}
            {% endif %}

            <form method="post" action="{% url 'Remember:login' %}">
                {% csrf_token %}
                <table style="padding-bottom:5px;">
                    <tr>
                        <td>{{ form.username.label_tag }}</td>
                        <td>{{ form.username }}</td>
                    </tr>
                    <tr>
                        <td>{{ form.password.label_tag }}</td>
                        <td>{{ form.password }}</td>
                    </tr>
                </table>
                <input type="hidden" name="next" value="{{ next }}" />
                <input type="submit" value="Login" class="btn btn-primary"/>
                <a href="{% url 'Remember:signup' %}" class="btn btn-outline-primary">Sign up</a>
            </form>
        </div>
    </div>
</div>


{% endblock %}