{% extends "Remember/base.html" %}

{% block content %}

<div class="container-fluid my-5">
    <div class="row">
        <div class="col offset-3">
            {% if form.errors %}
                {% for err in form.non_field_errors %}
                  <p class="form-error">{{ err }}</p>
                {% endfor %}
            {% endif %}

            {% if next %}
                {% if user.is_authenticated %}
                <p>Your account doesn't have access to this page. To proceed,
                please login with an account that has access.</p>
                {% else %}
                <p>Please login to see this page.</p>
                {% endif %}
            {% endif %}

            <form method="post" action="">
                {% csrf_token %}
                <table style="padding-bottom:5px;">
                    <tr>
                        <td>{{ form.username.label_tag }}</td>
                        <td>{{ form.username }}</td>
                    </tr>
                    <tr>
                        <td>{{ form.email.label_tag }}</td>
                        <td>{{ form.email }}</td>
                    </tr>
                    <tr>
                        <td>{{ form.password1.label_tag }}</td>
                        <td>{{ form.password1 }}</td>
                    </tr>
                    <tr>
                        <td>{{ form.password2.label_tag }}</td>
                        <td>{{ form.password2 }}</td>
                    </tr>
                </table>
                <input type="hidden" name="next" value="{{ next }}" />
                <input type="submit" value="Sign up" class="btn btn-primary"/>
                <a href="{% url 'Remember:login' %}" class="btn btn-outline-primary">Login</a>
            </form>
        </div>
    </div>
</div>


{% endblock %}