{% extends 'Remember/base.html' %}

{% block content %}

<div class="container">
    {{ form.non_field_errors }}
    <div class="row">
        <div class="col-10 offset-2">
            <div class="container bg-light border rounded my-1">
                {{ form.user_select }}
                {{ form.task_id }}
                <div class="row">
                    <div class="col-2 offset-1">
                        <label>Connect to user:</label>
                    </div>
                    <div class="col">
                        <form action="{% url 'Remember:task_edit_complex' form.task_id.value %}" method="get">
                            {% csrf_token %}
                            <input type="hidden" name="parent_add">
                            <select name='user_select' onchange='this.form.submit()'>
                                {% for cycle_user in users %}
                                {% if form.user_select.value == cycle_user.username %}
                                <option selected>{{ cycle_user.username }}</option>
                                {% else %}
                                <option>{{ cycle_user.username }}</option>
                                {% endif %}
                                {% endfor %}
                            </select>
                        </form>
                    </div>
                </div>
                <form action="" method="post">
                    {% csrf_token %}
                    <div class="container-fluid">
                        <div class="row">
                            <div class="col-10">
                                {% for field in form.visible_fields %}
                                    <div class="fieldWrapper">
                                        <div class="container-fluid">
                                            <div class="row my-2">
                                                <div class="col-2 offset-1">
                                                    {{ field.label_tag }}
                                                </div>
                                                <div class="col">
                                                    {{ field }}
                                                    {% if field.help_text %}
                                                    <p class="help">{{ field.help_text|safe }}</p>
                                                    {% endif %}
                                                </div>
                                            </div>
                                            <div class="row my-2">
                                                <div class="col offset-5">
                                                    {{ field.errors }}
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                {% endfor %}
                            </div>
                            <div class="col">
                                <div class="col">
                                    <form action="" method="post">
                                        {% csrf_token %}
                                        <div class="btn-group-vertical" style="width: 100%;">
                                            <input class="btn btn-primary" type="submit" name="save" value="Save">
                                            <a class="btn btn-primary" href="{% url 'Remember:task_edit_complex' form.task_id.value %}">Back</a>
                                        </div>
                                    </form>
                                </div>
                            </div>
                        </div>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>

{% endblock %}