<div class="container-fluid bg-light border rounded my-1 py-2">
    <div class="col-8">
        <h3>Notifications:</h3>
    </div>
    {% if task.notification_set.all %}
    <div class="row">
        <div class="col offset">
            <table class="table table-striped border ">
                <thead>
                <tr>
                    <th scope="col">Target</th>
                    <th scope="col">Date & time</th>
                    <th scope="col">Text</th>
                    <th scope="col"></th>
                </tr>
                </thead>
                <tbody>
                {% for notification in task.notification_set.all %}
                <form action="{% url 'Remember:task_edit_complex' notification.task.id %}" method="post">
                    {% csrf_token %}
                    <input type="hidden" name="notification_id" value="{{ notification.id }}">
                    <tr>
                        <td>{{ notification.get_target_display }}</td>
                        <td>{{ notification.datetime }}</td>
                        <td>
                            {% if notification.text %}
                            {{ notification.text|truncatechars:20 }}
                            {% else %}
                            No text provided
                            {% endif %}
                        </td>
                        <td>
                            <input class="btn btn-outline-primary" type="submit" name="notif_edit" value="edit">
                            <input class="btn btn-outline-danger" type="submit" name="notif_delete"  value="delete">
                        </td>
                    </tr>
                </form>
                {% endfor %}
                </tbody>
            </table>
        </div>
    </div>
    {% else %}
        <h5>No notifications yet</h5>
    {% endif %}
    <div class="row">
        <div class="col offset">
            <h5>
                <a href="{% url 'Remember:notification_new' task.id %}">Add new</a>
            </h5>
        </div>
    </div>
</div>