<div class="container-fluid bg-light border rounded my-1 py-2">
    <div class="row">
        <div class="col">
            <h3>Subtask connections:</h3>
        </div>
    </div>

    <!-- Parent connection -->
    <div class="row">
        <div class="col offset-1">
            {% if task.parent_connection %}
            <div class="container-fluid">
                <div class="row">
                    <div class="col-9">
                        <h5>
                            Task is subtask of:
                            <br>
                            <a href="{% url 'Remember:task_details' task.parent_connection.receiver.id %}">
                                {{ task.parent_connection.receiver.name }}
                                {% if task.parent_connection.receiver.description %}
                                    ( {{ task.parent_connection.receiver.description|truncatechars:40 }} )
                                {% endif %}
                            </a>
                        </h5>

                    </div>
                    <div class="col">
                        <form action="" method="post">
                            {% csrf_token %}
                            <input type="hidden" name="receiver" value="{{ task.parent_connection.receiver.id }}">
                            <div class="btn-group-vertical" style="width: 100%;">
                                <input class="btn btn-primary" type="submit" name="parent_change" value="Change">
                                <input class="btn btn-danger" type="submit" name="parent_delete" value="Clear">
                            </div>
                        </form>
                    </div>
                </div>
            </div>
            {% else %}
            <h5>Task is not subtask yet</h5>
            <form action="" method="get">
                {% csrf_token %}
                <input class="btn btn-primary" type="submit" name="parent_add" value="Change">
            </form>
            {% endif %}
        </div>
    </div>
    <div class="row">
        <div class="col">
            <hr>
        </div>
    </div>
    <!-- Child connections -->
    <div class="row">
        <div class="col offset-1">
            {% if task.child_connection.all %}
                <h5>Parent task for:</h5>
                <div class="container-fluid">
                    <div class="row">
                        <div class="col offset-1">
                            {% for connection in task.child_connection.all %}
                                <label>
                                    <a href="{% url 'Remember:task_details' connection.sender.id %}">
                                        {{ connection.sender.name }}
                                        {% if connection.sender.description %}
                                        ( {{ connection.sender.description|truncatechars:40 }} )
                                        {% endif %}
                                    </a>
                                </label>
                                <br>
                            {% endfor %}
                        </div>
                    </div>
                </div>
            {% else %}
                <h5>Task has no subtasks yet</h5>
            {% endif %}
        </div>
    </div>
</div>

<div class="container-fluid bg-light border rounded my-1 py-2">
    <div class="row">
        <h3>Other connections:</h3>
    </div>
    <div class="row">
        <div class="col-8 offset-1">
            <h4>Sent connections:</h4>
        </div>
        <div class="col">
            <form action="" method="get">
                {% csrf_token %}
                <div class="btn-group-vertical" style="width: 100%;">
                    <input class="btn btn-primary" type="submit" name="connection_add" value="Add">
                </div>
            </form>
        </div>
    </div>
    <!-- Sent connections -->
    <div class="row">
        <div class="col offset-2">
            {% if task.sent_connections.all %}
                <table class="table table-striped">
                    <thead>
                    <tr>
                        <th scope="col">Target</th>
                        <th scope="col">Type</th>
                        <th scope="col"></th>
                    </tr>
                    </thead>
                    <tbody>
                        {% for connection in task.sent_connections.all %}
                        <tr>
                            <td>
                                <label>
                                    <a href="{% url 'Remember:task_details' connection.receiver.id %}">
                                        {{ connection.receiver.name }}
                                        {% if connection.receiver.description %}
                                        ( {{ connection.receiver.description|truncatechars:40 }} )
                                        {% endif %}
                                    </a>
                                </label>
                            </td>
                            <td>
                                {{ connection.get_conn_type_display }}
                            </td>
                            <td>
                            <form action="" method="post">
                                {% csrf_token %}
                                <input type="hidden" name="receiver_id" value="{{ connection.receiver.id }}">
                                <input class="btn btn-outline-danger" type="submit" name="sent_connection_delete" value="Delete">
                            </form>

                            </td>
                        </tr>
                        {% endfor %}
                    </tbody>
                </table>
            {% else %}
                <label>No sent connections</label>
            {% endif %}
        </div>
    </div>
    <!-- Received connections -->
    <div class="row">
        <div class="col">
            <hr>
        </div>
    </div>
    <div class="row">
        <div class="col-8 offset-1">
            <h4>Received connections:</h4>
        </div>
    </div>
    <div class="row">
        <div class="col offset-2">
            {% if task.received_connections.all %}
                <table class="table table-striped">
                    <thead>
                    <tr>
                        <th scope="col">Target</th>
                        <th scope="col">Type</th>
                        <th scope="col"></th>
                    </tr>
                    </thead>
                    <tbody>
                        {% for connection in task.received_connections.all %}
                            <form action="" method="post">
                                {% csrf_token %}
                                <input type="hidden" name="sender_id" value="{{ connection.sender.id }}">
                                <tr>
                                    <td>
                                        <label>
                                            <a href="{% url 'Remember:task_details' connection.sender.id %}">
                                            {{ connection.sender.name }}
                                            {% if connection.sender.description %}
                                                ( {{ connection.sender.description|truncatechars:40 }} )
                                            {% endif %}
                                            </a>
                                        </label>
                                    </td>
                                    <td>{{ connection.get_conn_type_display }}</td>
                                    <td>
                                        <input class="btn btn-outline-danger" type="submit" name="received_connection_delete"
                                               value="Delete">
                                    </td>
                                </tr>
                            </form>
                        {% endfor %}
                    </tbody>
                </table>
            {% else %}
                <label>No received connections</label>
            {% endif %}
        </div>
    </div>

</div>