{% extends "Remember/base.html" %}

{% block content %}
<div class="container fluid">
    <div class="row">
        <div class="col-10">
            <div class="container-fluid my-5">
                <!-- Notifications -->
                <div class="row">
                    <div class="col offset-2">
                        {% include 'Remember/task_complex_notifications.html' %}
                    </div>
                </div>

                <!-- Repeats -->
                <div class="row">
                    <div class="col offset-2">
                        {% include 'Remember/task_complex_repeats.html' %}
                    </div>
                </div>

                <!-- Connections -->
                 <div class="row">
                    <div class="col offset-2">
                        {% include 'Remember/task_complex_connections.html' %}
                    </div>
                </div>
            </div>
        </div>
        <div class="col">
            <div class="container-fluid bg-light sticky-top border rounded my-5 py-2">
                <div class="btn-group-vertical" style="width: 100%;">
                    <a class="btn btn-outline-primary" href="{% url 'Remember:task_edit' task.id %}">Basic</a>
                    <a class="btn btn-outline-primary active" href="#">Extended</a>
                    <a class="btn btn-primary my-2" href="{% url 'Remember:index' %}">Back</a>
                </div>
            </div>
        </div>
    </div>
</div>

{% endblock %}