.equinox .calendar-header
{
	background-color: #FFF;
	border-top-left-radius: 4px;
	border-top-right-radius: 4px;
	color: #fff;
	padding: 8px 11px;
}
.equinox .calendar-header:after,.equinox .calendar-header:before
{
	content: " ";
	display: table;
}
.equinox .calendar-header:after
{
	clear: both;
}
.equinox .calendar-actions
{
	float: left;
}
.equinox .month-label
{
    color:#000;
	float: right;
	font-size: 24px;
	text-align: right;
}
.equinox .month-weeks
{
	background-color: #fafafa;
	border: 1px solid #efefef;
	border-bottom-left-radius: 4px;
	border-bottom-right-radius: 4px;
	border-top: none;
}
.equinox .week
{
	margin-left: -1px;
	position: relative;
}
.equinox .week:first-child .day
{
	border-top: none;
}
.equinox .week-events
{
	left: 0;
	list-style: none;
	margin: 0;
	padding: 0;
	padding-top: 26px;
	position: absolute;
	top: 0;
	width: 100%;
}
.equinox .week-events .slot
{
	margin: 0;
}
.equinox .week-events .slot>ul
{
	display: table;
	list-style: none;
	margin: 0;
	padding: 0;
	table-layout: fixed;
	width: 100%;
}
.equinox .week-events .slot>ul>li
{
	box-sizing: border-box;
	display: table-cell;
	margin: 0;
	padding-left: 9px;
	padding-right: 8px;
	width: 14.28571%;
}
.equinox .week-events .slot>ul>li.span-1
{
	width: 14.28571%;
}
.equinox .week-events .slot>ul>li.span-2
{
	width: 28.57143%;
}
.equinox .week-events .slot>ul>li.span-3
{
	width: 42.85714%;
}
.equinox .week-events .slot>ul>li.span-4
{
	width: 57.14286%;
}
.equinox .week-events .slot>ul>li.span-5
{
	width: 71.42857%;
}
.equinox .week-events .slot>ul>li.span-6
{
	width: 85.71429%;
}
.equinox .week-events .slot>ul>li.span-7
{
	width: 100%;
}
.equinox .week-events .event .start-time
{
	display: none;
}
.equinox .week-events .event .title
{
	white-space: nowrap;
}
.equinox .days-container
{
	display: table;
	table-layout: fixed;
	width: 100%;
}
.equinox .days-container .day
{
	border-left: 1px solid #efefef;
	border-top: 1px solid #efefef;
	box-sizing: border-box;
	display: table-cell;
	padding: 8px;
	width: 14.28571%;
}
.equinox .week-header
{
	color: #aaa;
	font-size: 10px;
	text-transform: uppercase;
}
.equinox .week-header .day
{
	background-color: #fff;
	overflow: hidden;
	text-align: center;
	text-overflow: ellipsis;
}
.equinox .date.outside-month .date-label
{
	color: #d7d7d7;
}
.equinox .date.current-date
{
	background-color: #e7f6fc;
	position: relative;
}
.equinox .date.current-date:before
{
	border: 1px solid #ceeef9;
	bottom: -1px;
	content: "";
	display: block;
	left: -1px;
	position: absolute;
	right: -1px;
	top: -1px;
	z-index: 1;
}
.equinox .date.current-date .date-label
{
	color: #0aa8e3;
}
.equinox .date-label
{
	color: #888;
	font-size: 12px;
	text-align: right;
}
.equinox .date-events
{
	list-style: none;
	margin: 0;
	min-height: 68px;
	padding: 0;
}
.equinox .event-container
{
	box-sizing: border-box;
	margin: 0;
	min-height: 34px;
	padding-top: 6px;
}
.equinox .event-container.continuation .event
{
	border-bottom-left-radius: 0;
	border-left: none;
	border-top-left-radius: 0;
	margin-left: -8px;
	padding-left: 17px;
}
.equinox .event-container.continued .event
{
	border-bottom-right-radius: 0;
	border-top-right-radius: 0;
	margin-right: -8px;
	padding-right: 14px;
}
.equinox .event
{
	background-color: #fff;
	border-left: 3px solid #ffaa3c;
	border-radius: 3px;
	box-shadow: 0 1px 1px fade(#efefef,80%);
	box-sizing: border-box;
	color: #666;
	display: block;
	font-size: 12px;
	line-height: 14px;
	min-height: 28px;
	padding: 7px 6px;
	position: relative;
	z-index: 2;
}
.equinox .event .start-time
{
	color: #bbb;
	display: none;
	float: right;
	margin-left: 4px;
}
.equinox .event .title
{
	display: block;
	overflow-x: hidden;
	text-overflow: ellipsis;
}