#tag_label{
    background:#F2F2F2;
    border-color: #B0B0B0;
    border-width: 1px;
    border-radius: 4px;
    border-style: solid;
    padding: 3px;
    font-size: 14px;
    margin-right: 4px;
}


#notification_container{
    background:#F0F0F0;
    border-color: #E2E2E2;
    border-width: 1px;
    border-radius: 5px;
    border-style: solid;
    padding: 5px;
    font-size: 10px;
}

#comment_container{
    background:#F0F0F0;
    border-color: #E2E2E2;
    border-width: 1px;
    border-radius: 5px;
    border-style: solid;
    padding: 5px;
    font-size: 10px;
}

#add_comment_input{
    -webkit-box-flex:1;
    -webkit-flex:1;
    -ms-flex:1;
    flex:1;
}